{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Strona Sławka</title>
</head>
<body>
<ul>
    {% for type in car_types %}
        <li><input type="checkbox" value="{{ type.id }}" class="checkbox">{{ type }}</li>
    {% endfor %}

</ul>
<ul id="cars">
{% for car in cars %}
    <li>{{ car }}</li>
{% endfor %}
</ul>
<ul>
  <li style="background-color: azure;">To jest <span style="background-color: aqua">pierwszy</span> wiersz</li>
  <li>To jest <span>drugi</span> wiersz</li>
</ul>
<script src="{% static 'app.js' %}"  type="text/javascript"></script>
</body>
</html>